


ul .fourkids{
   font-family: 'Butterfly Kids', cursive;
   font-size: 32pt;
   color:black;
   padding-left: 3pt;  
}

.company-name{
    font-weight: 300;
    font-size: 18pt;
    font-family: 'Sen', sans-serif;
    letter-spacing: -0.5pt;
    color: black;
    letter-spacing: 1.5pt;
}

.navbar{  
    background: #b3cdd3;
    list-style: none;
    margin-top: -1%;
    margin-bottom: 1%;
    border-radius: 0;
    padding-top: 3px;   
}

a{
     color:black;
}

.about{
    padding-top: 24px;
    font-size: 15pt;
    font-family: 'Sen', sans-serif;
    color: black;
    letter-spacing: 2pt;
    word-spacing: 2pt;
}

.approach{
    padding-top: 24px;
    font-size: 15pt;
    font-family: 'Sen', sans-serif;
    letter-spacing: 2.5pt;
}

.awards{
    padding-top: 24px;
    font-size: 15pt;
    font-family: 'Sen', sans-serif;
    letter-spacing: 2pt;
}

/* ---------------------- */

.logo{
    background-image: url("Images/logo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 390px;
    width: 100%;
    background-position: center;
    margin-bottom: 25px;
}


/* ---------------------- */


.row{
    width: 67%;
    margin: auto;
}

.col-font{
    font-weight: 500;
    text-align: center;
}

.col{
    font-size: 12pt;
    padding: 6px;
    margin: 3px;
}

.col-wedding{
    background:#e0da59;
    font-family: 'Sen', sans-serif;
    font-size: 24pt;
}

.col-day{
    background-color: #679ca7;
    font-family: 'Sen', sans-serif;
    font-size: 24pt;
}

.col-blues{
    background: #d48e7a;
    font-family: 'Sen', sans-serif;
    font-size: 24pt;
}




/* ---------------------- */


.dark{
    background-color: black;
    border:none;
    height: 1.5pt;
    width: 65%;
    margin-top: 0;
}

.short{
    width: 67%;
    background-color: black;
    border:none;
    height: 2px;
}

.learning{
    font-size: 24pt;
    font-family: 'Sen', sans-serif;
    letter-spacing: 1.5pt;
    font-weight: 700;
    text-align: center;
}




/* ---------------------- */

.footer{
    font-size: 12pt;
    font-family: 'Sen', sans-serif;
    color: black;
    letter-spacing: 2pt;
    word-spacing: 2pt;
    background-color: #b3cdd3;
    margin-bottom: -2%;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 21px;
    padding-left: 9px;
}

.contact-details{
    padding-left: 12px;
    list-style: none;
    width: 67%;
}

.row-contact{
    width: 100%;
}

.social{
    font-size: 12pt;
    border: 3pt solid red;
}

.menu-footer{
    float:right;
    padding-right: 12px;
}


/* ---------------------- */


.container-fluid{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.row, .row-awards{
    width: 67%;
    margin-top: 0;
}


.about-text{
    text-align: center;
}


.container-fluid, .explore{
    font-family: 'Sen', sans-serif;
    margin-top: -3px;
}


.row-explore, .row, .col{
    margin-top: -3px;
    padding-bottom: 24px;
}

.explore{
    text-align: center;
    margin: 0 auto;
}

.arrows{
    text-align: center;
    padding-top: 12px;
    word-spacing: 210pt;
}


.fa-thinking{
    color: blue;
}

.fa-understanding{
    color: blue;
}

.fa-problem-solving{
    color:blue;
}