


span{
   font-family: 'Permanent Marker', cursive;
   font-size: 26pt;
}

.navbar{
    background: #ff5e62;
    list-style: none;
    margin-top: 0%;
    color: black;
    margin-bottom: 0%;
    border-radius: 0;
}

.navbar-font{
    font-size: 12pt;
    letter-spacing: 2px;
}

a{
    color: black;
}


/* ---------------------- */


.logo{
    background-image: url("Images/logo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 390px;
    width: 100%;
    background-position: center;
    margin-bottom: 45px;
}

hr{
    width: 80%;
    border-top: 3px solid grey;
    margin-top: 20px;
}


/* ---------------------- */

.col-font{
    font-weight: 500;
    text-align: center;
}

.col{
    color: slategrey;
    font-size: 12pt;
    padding-top: 4px;
    padding-bottom: 15%;
    margin: 5px;
  
}


/* ---------------------- */

.social{
    float: right;
    font-size: 12pt;
}


.footer{
background-color: navy;
color: white;
padding-bottom: 15px;
margin-bottom: -5;
padding-left: 20px;
}
