

ul .fourkids{
   font-family: 'Butterfly Kids', cursive;
   font-size: 32pt;
   color:white;
   padding-left: 3pt;
   text-shadow: 2px 2px black;
}

.company-name{
    font-weight: 300;
    font-size: 18pt;
    font-family: 'Space Mono', monospace;
    letter-spacing: -0.5pt;
    color: #fff;
    text-shadow: 2px 2px black;
    letter-spacing: 1.5pt;
}

.navbar{  
    background: linear-gradient( #000046, #1cb5e0);
    list-style: none;
    margin-top: -1%;
    margin-bottom: 1%;
    border-radius: 0;
    padding-top: 3px;   
}

a{
     color: #fff;
}

.about{
    padding-top: 24px;
    font-size: 15pt;
    font-family:'Space Mono', monospace;
    text-shadow: 2px 2px black;
    letter-spacing: 1pt;
}

.approach{
    padding-top: 24px;
    font-size: 15pt;
    font-family:'Space Mono', monospace;
    text-shadow: 2px 2px black;
    letter-spacing: 1pt;
}

.ability{
     padding-top: 24px;
    font-size: 15pt;
    font-family:'Space Mono', monospace;
    text-shadow: 2px 2px black;
    letter-spacing: 1pt;
}

/* ---------------------- */

.logo{
    background-image: url("Images/logo.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 390px;
    width: 100%;
    background-position: center;
    margin-bottom: 25px;
}




/* ---------------------- */




.row{
    width: 67%;
    margin: auto;
   
}

.col-font{
    font-weight: 500;
    text-align: center;
}

.col{
    font-size: 12pt;
    padding: 30px;
    margin: 9px;
}

.col-wedding{
    background: linear-gradient(#40E0D0, #fdeff9);
     font-family: 'Butterfly Kids', cursive;
     font-size: 24pt;
}

.col-day{
    background: linear-gradient(#FF8C00,#fdeff9);
     font-family: 'Butterfly Kids', cursive;
     font-size: 24pt;
}

.col-blues{
    background: linear-gradient(#FF0080, #fdeff9);
     font-family: 'Butterfly Kids', cursive;
     font-size: 24pt;
}

.dark{
    background-color: black;
    border:none;
    height: 2px;
    width: 67%;
    margin-top: 45px;
}

.dark-medium{
    background-color: black;
    border:none;
    height: 2px;
    width: 67%;
}

.short{
    width: 67%;
    background-color: black;
    border:none;
    height: 2px;
}


h2{
    font-size: 24pt;
    font-family:'Space Mono', monospace;
    letter-spacing: 1.5pt;
    font-weight: 700;
}




/* ---------------------- */

.footer{
background:linear-gradient( #1cb5e0, #000046);
color: white;
margin-bottom: -2%;
font-size: 12pt;
width: 100%;
padding-top: 9px;
text-align: center;
font-family: 'Space Mono', monospace;
text-shadow: 2px 2px black;
border-top: 1pt solid black;
}

/*
.container{
    float: left;
}
*/
.contact-details{
    padding-left: 12px;
    list-style: none;
}

.row-contact{
    width: 100%;
}

.map{
    background-image: url("Images/map.jpeg");
    height: 127px;
    border: 2pt solid black;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.social{
    font-size: 12pt;
    border: 3pt solid red;
}

.days-of-week{
    list-style: none;
    text-align: right;
    font-size: 12pt;
    word-spacing: 3pt;
    padding-left: 45px;
}